.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    position: relative;
    text-align: center;
    /* padding: 5px; */
    bottom: 30px;
    color: var(--text-primary) !important;
}

form div:first-child {
    padding: 10px;
}

.main-container {
    background-color: var(--background);
}

.form-top-container {
    background-color: var(--background-secondary);
    /* height: 100px;
    width: 300px; */
    padding: 90px 75px;
    box-shadow: var(--box-shadow-dark-bg); 
    border-radius: 10px;
}

.inside-container {
    position: relative;
    top: 30px;
}

.form-container {
    background-color: var(--background);
    height: 400px;
    width: 350px;
    padding: 10px 10px;
    box-shadow: var(--box-shadow-light-bg); 
    border-radius: 10px;
}

div button {
    position: relative;
    top: 30px;
    background-color: var(--static-button);
}

.place-holder {
    height: 44px;
}

.container .form-container .input-text-box {
    border: none;
    /* border-bottom: 2px solid #000000; */
    background-color: var(--text-primary);
    border-radius: 0;
    padding: 5px;
    box-shadow: 0 0 10px rgba(203, 137, 106, 0.989); 
}

.container .form-container .input-text-box .input-text-box::placeholder {
    color: rgb(231, 231, 231) !important; 
}

.container .form-container .input-text-box:focus {
    outline: none;
    border-bottom-color: var(--background-secondary);
}

label {
    font-weight: bold;
    color: var(--text-primary) !important;
}

.error-message {
    transform: translateX(30%);
    font-weight: bold;
}

.link-row a {
    transform: translateX(30%);
    color: var(--text-primary) !important;
    font-size: 17px;
}

/* .email-error {
    position: relative;
    bottom: 115px;
    left: 105px;
    width: 100%;
    padding: 10px;
} */


/* .email-error {
    padding: 10px;
} */

@media screen and (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .form-top-container {
        padding: 60px 30px;
    }

    .inside-container {
        top: 20px;
    }

    div button {
        top: 20px;
    }
}